logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
node_modules/
.env
app/config/prompts.py
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
/alembic/
workoutapp.egg-info/
__pycache__
venv/
uv.lock
/alembic.ini
.venv
.windsurf
.pytest_cache
.gitignore